<h1>Today</h1>
<ul class='task-list'>

  <li *ngFor='let task of tasks$ | async'
      class='task'
      [class._failed]='task.status === TaskStatus.FAILED'
      [class._complete]='task.status === TaskStatus.COMPLETE'
  >
    <div class='task-content'>
      <ng-container [ngSwitch]='task.status'>
        <img *ngSwitchCase='TaskStatus.COMPLETE' src='/assets/icons/completed-task.svg' alt='completed-task'
             class='task-icon'>
        <img *ngSwitchCase='TaskStatus.FAILED' src='/assets/icons/failed-task.svg' alt='failed-task' class='task-icon'>
        <img *ngSwitchCase='TaskStatus.OPEN' src='/assets/icons/open-task.svg' alt='open-task' class='task-icon'>
      </ng-container>
      <div>
        <h2 class='task-header'>Task {{task.number}}</h2>
        <p class='task-description'>{{task.description}}</p>
      </div>
    </div>
    <div *ngIf='task.status === TaskStatus.OPEN' class='task-toolbar'>
      <button class='btn btn-accept' (click)='cancelTask(task)'>Not today</button>
      <button class='btn btn-decline' [routerLink]="['/task', task.id]">I will do it!</button>
    </div>
  </li>
</ul>
