<h2>Productivity</h2>
<div class="month-picker">
  <select [(ngModel)]="month" (ngModelChange)="updateCalendar()">
    <option value="0">January</option>
    <option value="1">February</option>
    <option value="2">March</option>
    <option value="3">April</option>
    <option value="4">May</option>
    <option value="5">June</option>
    <option value="6">July</option>
    <option value="7">August</option>
    <option value="8">September</option>
    <option value="9">October</option>
    <option value="10">November</option>
    <option value="11">December</option>
  </select>
  <select [(ngModel)]="year" (ngModelChange)="updateCalendar()">
    <option value="2020">2020</option>
    <option value="2021">2021</option>
  </select>
</div>
<div class="calendar">

  <ul class="calendar-week-days">
    <li>SU</li>
    <li>MO</li>
    <li>TU</li>
    <li>WE</li>
    <li>TH</li>
    <li>FR</li>
    <li>SA</li>
  </ul>
  <ul class="calendar-dates">
    <li *ngFor="let item of calendarItems" class="{{item.classList}}">{{item.date}}</li>
  </ul>
</div>
